@charset "UTF-8";
body{
  background-color: #630;
}
#contents{
  width: 780px;
  margin-right: auto;
  margin-left: auto;
}
nav ul li{
  float: left;
}
nav{
  background-color: #000;
  padding-top: 17px;
}
#info{
  clear: both;
  background-color: #000;
  padding-top: 7px;
  padding-bottom: 10px;
}
#info p{
  color: #fff;
  text-align: center;
}
footer{
  padding-top: 10px;
  text-align: center;
}
footer small{
    color:#FFF;
    font-family:arial,Helvetica,sans-serif;
}