/*bodyの余白を除く*/
body {
	margin: 0;
	padding:0;
}
/* よく使用する要素のリセット */
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td, img, form {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
}

/* テキストエリア内文字サイズのブラウザ間での差異をなくす */
textarea {font-size: 100%; }

/* 画像の下にできる隙間をなくす */
img { vertical-align: bottom; }

/* hr 要素は不可視で使う */
hr { display: none; }

/*強調文字のクリア*/
address,caption,em,strong,th{
	font-style:normal;
	font-weight:normal;
}
